fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.19
pydantic==2.10.3
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.6.0
sentence-transformers==3.3.1
joblib==1.4.2
pymongo==4.10.1
python-dotenv==1.0.1
langdetect==1.0.9
opencv-python==4.10.0.84
Pillow==11.0.0
easyocr==1.7.2
pytesseract==0.3.10
tensorflow==2.18.0
keras==3.6.0
faster-whisper==1.1.0
gTTS==2.5.3
pyttsx3==2.90
ffmpeg-python==0.2.0

